@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600);

/*GENERAL*/
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	background:#fcfcfc;
}

/*NAV*/
nav {
	height:auto;
	overflow: auto;
	text-transform: uppercase;
	font-size:150%;
	padding:20px;
}

nav ul li {
	float:left;
	width:auto;
	list-style-type: none;
	margin-right:20px;
}

nav ul li a{
	text-decoration: none;
	color:#222222;
}

nav ul li a:hover {
	text-decoration: none;
	color:#ccc;
}


/*HOME*/
.col-md-4.articles{
  height: 360px !important;
  margin-bottom: 20px;
  margin-top:20px;

}

.col-md-4.articles p {
	background: #fff;
	padding:20px;
	min-height:300px;
	font-size: 12pt;
}

.col-md-4.articles h4 {
	padding:20px;
	background: #6017AE;
	/*#170e8e;*/
	margin-bottom: -5px;
	margin-top:40px;
}

h1, h1 small {font-weight: 100}

h4 a {color:#fff; font-weight: 100;}

h4 a:hover {
	color:#ccc;
	text-decoration: none;
}

.home {
	margin-bottom: 80px;
}

/*DESIGN ARTICLES*/
.design {
	background: #fff;
	padding:20px;
	margin-top:30px;
	margin-bottom: 80px;
}

.design h4 {
	margin-bottom: 40px;
}
.design img {
	float:left;
	margin-right:20px;
	margin-bottom: 20px;
}

.comments {
	clear:both;
}

.design h2, .design h4 {font-weight: 100;}

h3.title {
	font-weight: 400;
text-transform:uppercase;
}
h3 a {
	color:#222222;
	text-decoration: none;
	font-weight: 100;
}
h3 a:hover {
	color:#ccc;
	text-decoration: none;
}

.design p {
	font-size: 12pt;
}

/*FORM*/
label {
  font-weight: 100;
  display: inherit;
}

input.submit-post, input.submit-preview{
	background-color:#6017AE;
	color:white;
	font-size: 110%;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	margin-right:5px;
	padding:5px 10px;
	border:none;
}
@media (min-width: 992px) {
.col-md-8 {
  padding-left: 40px !important;
  padding-right: 40px !important;
  border-right: solid 1px #ccc !important;
}

@media (min-width: 992px) {
.col-md-4 {
  padding-left: 40px !important;
}	