{% load staticfiles %}
{% load comments %}
<!DOCTYPE html>
<html>
<head>
	<title>Developer Blog | {{ CodeArticle.title }}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<nav>
	  	<ul>
	  		<li><a href="/">Developer Blog</a></li>
	  	</ul>
	</nav>
	<div class="container code">
		<div class="row">
			<div class="col-md-8">
				<h2>{{ CodeArticle.title }}</h2>
				<h4>Published {{ CodeArticle.published_on.date }}</h4>
				<p>{{ CodeArticle.text|linebreaks }}</p>
				<p class="demo"> {{ CodeArticle.description }} </br>
				Check out a demo <a href="http://{{ CodeArticle.link }}" target="_blank">here</a></p>
				
				<div class="container comments">
					<h3>Leave A Comment</h3>
					{% render_comment_list for CodeArticle %}
					{% render_comment_form for CodeArticle %}
				</div>
			</div>
			<div class="col-md-4">
				<h3>Related Articles</h3>
				{% for CodeRelated in CodeRelateds %}
					<h3><a href="{% url 'CodePostDetails' CodeRelated.id %}">{{ CodeRelated.category|upper}} | {{ CodeRelated.title }}</a></h3>
					<p>{{ CodeRelated.text|safe|truncatewords:"20"|linebreaks }}</p>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>